@charset "utf-8";
body,div{
	padding: 0;
	margin: 0;
	list-style: none;
}
.header{
	width:100%;
	height:70px;
	background: #393d49;
}
.w-1200{
	width: 1200px;
	height: 70px;
	margin: 0 auto;
}
.header .w-1200 .logo,.logo_ht{
	line-height: 70px;
	font-family: "微软雅黑";
	font-size: 28px;
	color:white;
	float: left;
	cursor:pointer;
}
.loading{
	width:100%;
	height:100%;
	background:gray;
	position:absolute;
	z-index:999;
	opacity:0.4;
}
.header .w-1200 .search{
	padding-top:17.5px;
	margin-left:600px;
	width: 300px;
	height: 70px;
	float: left;
}
.w-930{
	margin:0 auto;
	background:ghostwhite;
}
.header .w-1200 .userinfo{
	width:200px;
	margin-top:23px;
	font-size:16px;
	float:right;
	color:white;
	text-align:right;
}
.header .w-1200 .start_search{
	color:#272822;
	display: inline-block;
	float: right;
	padding-right:10px;
	margin-top:-24px;
}
.container .navBar{
	float: left;
	margin-left:-30px;
	width:270px;
	/*background: #383D45;*/
	background: #0f1d30;
	padding-top:14px;
}
.container .navBar ul,li{
	color:white;
	list-style: none;
	margin:1px 0;
	padding: 0;
	line-height: 22px;
}
.container .navBar ul li{
	height:45px;
	line-height: 45px;
	list-style: none;
}
.container .navBar .ms{
	padding-left:20px;
}
.container .navBar .dbzx2,.bztx2{
	padding-left:50px;
}
.container .navBar .ms:hover{
	cursor: pointer;
	background: #122B40;
}
.container .navBar .two:hover{
	cursor: pointer;
	background: slategrey;
}
.container .navBar .ic{
	display: inline-block;
	margin-left: 130px;
}
.true{
	background: #122B40;
}
.two-true{
	background:slategrey;
}
.container .content{
	float: right;
	width:930px;
	height:100px;
	margin-right:-30px;
	/* border-right: 1px solid #122B40; */
}
.l {
	display: inline-block;
	line-height: 45px;
	padding-right: 10px;
}
.container .navBar .two{
	display: none;
}
.container .content{
	
}
.footer{
	/*border-top: solid 1px #383D45;*/
	height:70px;
	text-align: center;
	line-height: 70px;
	background:#393d49;
	color:white;
}
body{
	background:snow;
}

.w-930::-webkit-scrollbar{
	width:4px;
	height:8px;
}
.w-930::-webkit-scrollbar-track{
	border-radius:10px;
	-webkit-box-shadow:inset 0 0 6px transparent;
}
.w-930::-webkit-scrollbar-thumb{
	background-color:rgba(0,0,0,0.2);
	border-radius:10px;
}

.load-container{padding:20px 0;text-align:center;margin-top:10%;color:white;}
.load-container p{display:inline-block;position:relative;top:-30px;padding-left:15px;font-size:14px;color:#0fa4f6;}
.load-container .loader{display:inline-block;font-size:30px;text-indent:-9999em;overflow:hidden;width:1em;height:1em;border-radius:50%;margin:0.8em auto;position:relative;-webkit-animation:load 1.7s infinite ease;animation:load 2s infinite ease;}
@-webkit-keyframes load{
   0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);box-shadow:-0.11em -0.83em 0 -0.4em #d4eaf4,-0.11em -0.83em 0 -0.42em #d4eaf4,-0.11em -0.83em 0 -0.44em #d4eaf4,-0.11em -0.83em 0 -0.46em #d4eaf4,-0.11em -0.83em 0 -0.477em #d4eaf4;}
   5%,
   95%{box-shadow:-0.11em -0.83em 0 -0.4em #a4dbf4,-0.11em -0.83em 0 -0.42em #a4dbf4,-0.11em -0.83em 0 -0.44em #a4dbf4,-0.11em -0.83em 0 -0.46em #a4dbf4,-0.11em -0.83em 0 -0.477em #a4dbf4;}
   30%{box-shadow:-0.11em -0.83em 0 -0.4em #5bc5f4,-0.51em -0.66em 0 -0.42em #5bc5f4,-0.75em -0.36em 0 -0.44em #5bc5f4,-0.83em -0.03em 0 -0.46em #5bc5f4,-0.81em 0.21em 0 -0.477em #5bc5f4;}
   55%{box-shadow:-0.11em -0.83em 0 -0.4em #2ab6f4,-0.29em -0.78em 0 -0.42em #2ab6f4,-0.43em -0.72em 0 -0.44em #2ab6f4,-0.52em -0.65em 0 -0.46em #2ab6f4,-0.57em -0.61em 0 -0.477em #2ab6f4;}
   100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);box-shadow:-0.11em -0.83em 0 -0.4em #0fa4f6,-0.11em -0.83em 0 -0.42em #0fa4f6,-0.11em -0.83em 0 -0.44em #0fa4f6,-0.11em -0.83em 0 -0.46em #0fa4f6,-0.11em -0.83em 0 -0.477em #0fa4f6;}
}
@keyframes load{
   0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);box-shadow:-0.11em -0.83em 0 -0.4em #d4eaf4,-0.11em -0.83em 0 -0.42em #d4eaf4,-0.11em -0.83em 0 -0.44em #d4eaf4,-0.11em -0.83em 0 -0.46em #d4eaf4,-0.11em -0.83em 0 -0.477em #d4eaf4;}
   5%,
   95%{box-shadow:-0.11em -0.83em 0 -0.4em #a4dbf4,-0.11em -0.83em 0 -0.42em #a4dbf4,-0.11em -0.83em 0 -0.44em #a4dbf4,-0.11em -0.83em 0 -0.46em #a4dbf4,-0.11em -0.83em 0 -0.477em #a4dbf4;}
   30%{box-shadow:-0.11em -0.83em 0 -0.4em #5bc5f4,-0.51em -0.66em 0 -0.42em #5bc5f4,-0.75em -0.36em 0 -0.44em #5bc5f4,-0.83em -0.03em 0 -0.46em #5bc5f4,-0.81em 0.21em 0 -0.477em #5bc5f4;}
   55%{box-shadow:-0.11em -0.83em 0 -0.4em #2ab6f4,-0.29em -0.78em 0 -0.42em #2ab6f4,-0.43em -0.72em 0 -0.44em #2ab6f4,-0.52em -0.65em 0 -0.46em #2ab6f4,-0.57em -0.61em 0 -0.477em #2ab6f4;}
   100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);box-shadow:-0.11em -0.83em 0 -0.4em #0fa4f6,-0.11em -0.83em 0 -0.42em #0fa4f6,-0.11em -0.83em 0 -0.44em #0fa4f6,-0.11em -0.83em 0 -0.46em #0fa4f6,-0.11em -0.83em 0 -0.477em #0fa4f6;}
}
