<style type="text/css">
	.w-930{
		overflow:scroll;
		overflow-x:hidden;
	}
	.w-930 .nav{
		margin:30px 80px 15px;
	}
	.w-930 .djzx{
		line-height: 40px;
		margin:15px 80px;		
	}
	.w-930 .nav{
		margin-bottom:15px;
	}
	.w-930 .djzx div{
		margin:5px 0px;
	}
	.w-930 .in-tag{
		width:228px;
		height: 40px;
		background: wheat;
		display: inline-block;
		padding:0px 10px;
		margin:0px 30px;
		cursor:pointer;
	}
	label{
		font-weight:normal;
	}
	.w-930 .in-tag input{
		text-align: right;
	}
	.online-ret{
		margin-left:20px;
		background:orange;
		line-height:20px;
		padding:10px;
		display:inline-block;
		border-radius:4px;
	}
.online-ret {
	display:none;
}
</style>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
<div class="w-930">
	<ul class="nav nav-tabs">
		<li class="active nav_tag"><a href="#online-pg" class="online-pg" data-toggle="tab">在线评估</a></li>
		<li class="nav_tag"><a href="#fzdj" class="fzdj" data-toggle="tab">辅助定级</a></li>
	</ul>
	<div class="tab-content">
		<div class="djzx tab-pane fade in active" id="online-pg">
			<div class="dwsx">
				单位属性：
				<label for="gyqy"><div class="in-tag"><input type="radio" name="dwsx" id="gyqy" value="" /> 国有企业</div></label>
				<label for="syqy"><div class="in-tag"><input type="radio" name="dwsx" id="syqy" value="" /> 私营企业</div></label>
			</div>
			<div class="xtsx">
				系统属性：
				<label for="shgz"><div class="in-tag"><input type="radio" name="xtsx" id="shgz" value="" /> 面向社会公众</div></label>
				<label for="qybg"><div class="in-tag"><input type="radio" name="xtsx" id="qybg" value="" /> 面向区域办公</div></label>
				<label for="nbsy"><div class="in-tag"><input type="radio" name="xtsx" id="nbsy" value="" /> 仅限内部使用</div></label>
			</div>
			<div class="xtlx">
				系统类型：
				<label for="gjyw"><div class="in-tag"><input type="radio" name="xtlx" id="gjyw" value="" /> 关键业务系统</div></label>
				<label for="zyyw"><div class="in-tag"><input type="radio" name="xtlx" id="zyyw" value="" /> 重要业务系统</div></label>
				<label for="ybyw"><div class="in-tag"><input type="radio" name="xtlx" id="ybyw" value="" /> 一般业务系统</div></label>
			</div>
			<div class="aqyx">
				安全影响：
				<label for="yxzs"><div class="in-tag"><input type="radio" name="aqyx" id="yxzs" value="" /> 影响自身业务生产</div></label>
				<label for="yxgz"><div class="in-tag"><input type="radio" name="aqyx" id="yxgz" value="" /> 影响社会公众</div></label>
				<label for="yxgj"><div class="in-tag"><input type="radio" name="aqyx" id="yxgj" value="" /> 影响国家安全</div></label>
			</div>
			<button class="btn btn-primary mspg">马上评估</button><span class="online-ret"><strong>提示：</strong>您的信息系统在线评估定级结果为第三级，仅供参考！</span>
		</div>
		<div style="margin:15px 80px;" class="fzdj tab-pane fade in" id="fzdj">
			<div>helloworld</div>
		</div>
		
	</div>
</div>
<script type="text/javascript">
$mainHeight = $(window).height()-140;
$('.w-930').css('height',$mainHeight+'px');
</script>
<script src="/static/js/public.js"></script>